/*DECLARACION DE VARIABLES -- ROOT COMPRENDE LA TAG HTML*/
:root{
    --green: #00FF00; 
    --white: #FFFFFF;
    --black: #000000;
    --borderblack: solid blueviolet;
    --borderwhite: solid black;
    --boxsblack: #818080;
    --boxswhite: aliceblue;
    --btnh3white: #d4fc79;
    --btnh3black: #D4CBCB;
    --btnpblack: #E6F3CA;
    --btnpwhite: greenyellow;
}

body{
    background: var(--bg);
    color: var(--fontColor);
    font-family: 'Trebuchet MS';
}

header{
    background-color: var(--bgBox);
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 30px;

    border: var(--borderMod);
}

.description{
    display: flex;
}

section{
    background-color: var(--bgBox);
    border: var(--borderMod);  
    padding: 10px;
    width: 50%;
    height: 500px;
    margin: 10px;
}

section h3{
    background-color: var(--btnh3);
    width: 120px;
    height: 30px;
    border: solid black;
    line-height: 30px;
    text-align: center;
}

.hours{
    display: flex;
    justify-content: space-between;
}

section p{
    background-color: var(--btnp);
    width: 70px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 40%;
}
 /*USO DE VARIABLES*/
.light-theme{
    --bg: var(--green);
    --fontColor: var(--black);
    --borderMod: var(--borderwhite);
    --bgBox: var(--boxswhite);
    --btnh3: var(--btnh3white);
    --btnp: var(--btnpwhite);

    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme{
    --bg: var(--black);
    --fontColor: var(--black);
    --borderMod: var(--borderblack);
    --bgBox: var(--boxsblack);
    --btnh3: var(--btnh3black);
    --btnp: var(--btnpblack);

    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

/*PROGRAMACION DEL BOTON*/
.btn{
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    position: absolute;
    top: 10px;
    margin: 20px;
    height: 50px;
    width: 60px;
    border-radius: 35%;
    border: solid black;
    cursor: pointer;
}